body {
  color: #737270;
}

a {
  text-decoration: none;
  color: inherit;
}

#banner {
  position: absolute;
  top: 84%;
  right: 10vw;
}

.large-article-header {
  background: url("./assets/Desktop_Cover.png") no-repeat center;
  background-size: cover;
  position: relative;
  height: 40vh;
  min-height: 20rem;
  margin-bottom: 2rem;
}

.title-bar {
  background: inherit;
}

.card {
  background: inherit;
  border: none;
}

.button.clear.success {
  color: #157539;
}

.grey-bg {
  background-color: #e6e7e8;
}

.white-bg {
  background-color: #fff;
}

.top-gap {
  padding-top: 2rem;
}

.bottom-gap {
  padding-bottom: 2rem;
}

.font--small {
  font-size: 9pt;
}

.font--medium {
  font-size: 14pt;
  margin-block-start: -1rem;
}

.navigation__container {
  height: 20vh;
}

.footer {
  color: #fff;
  background-color: #babcbf;
  padding: auto;
}

.footer__divider {
  background-color: inherit;
  max-width: 1280px;
  margin: auto;
  padding: 2rem 10vw;
}

.image__orbit--1 {
  display: block;
  opacity: 1;
}
.image__orbit--2 {
  display: block;
  opacity: 1;
}
.image__orbit--3 {
  display: none;
  opacity: 0;
}
.image__orbit--4 {
  display: none;
  opacity: 0;
}

@media (min-width: 1280px) {
  .image__orbit--3 {
    display: block;
    opacity: 1;
  }
  .image__orbit--4 {
    display: block;
    opacity: 1;
  }
}
