.large-article-header {
  background: url("./assets/Desktop_Cover.png") no-repeat center;
  background-size: cover;
  height: 40vh;
  position: relative;
}

.navigation__dots--position {
  position: absolute;
  top: 32vh;
  right: 14vw;
}

.navigation__container {
  height: 20vh;
}
